<div class="container">
    <h1>Register</h1>
    <hr>
    <small>This is register Page!</small>
    <from method="post" action="register">

        <label for="name">Username</label>
        <input type="text" id="username" name="username"> <br/>

        <label for="name">Email</label>
        <input type="text" id="email" name="email"> <br/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password"> <br/>

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword"> <br/>

        <button type="submit">Register</button>
    </from>
</div>